<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <div class="container">
            <!-- Creazione Aside -->
            <aside>
                <header>
                    <!-- Info utente -->
                    <div class="info-utente">
                        <div class="name-utente">
                            <img src="img/avatar_1.jpg" alt="foto utente">
                            <div class="name-utente-item">
                                <h3 class="name-utente-text">Matteo</h3>
                                <span class="stato-utente">Online</span>
                            </div>
                        </div>
                        <div class="icon-utente">
                            <ul>
                                <li><a href="#"><i class="fa-solid fa-circle-notch"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-message"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </header>

                <main>
                    <!-- crezione notifiche -->
                    <div class="notifiche">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div class="text-notifiche">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- creazione input chat -->
                    <div class="search-input">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input v-model="search" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>

                    <!-- creazione dinamica contatti -->
                    <div v-for="(contact, index) in contacts" v-if="filterContatti(contact)" @click="selectChat(index)" class="contatti-chat">
                        <!-- creazione dinaminca immagini -->
                        <img :src="`img/avatar${contact.avatar}.jpg`">
                        <!-- creazione dinamica contatti -->
                        <div class="contact-text">
                            <p>{{contact.name}}</p>
                            <p class="contact-message">{{contact.messages[contact.messages.length -1].text.slice(0,15) + '...'}}</p>
                        </div>
                        <p class="contact-date">{{lastContactAccess(index)}}</p>
                    </div>
                
                    
                </main>
            </aside>


            <!-- creazione lato chat -->
            <div class="container-chat">
                <!-- header info utente -->
                <div class="info-utente">
                    <div class="name-utente">
                        <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`" alt="foto utente">
                        <div class="name-utente-accesso">
                            <h3 class="name-utente-text">{{contacts[currentIndex].name}}</h3>
                            <p class="contact-message">Ultimo accesso {{lastAccess()}}</p>
                        </div>
                    </div>
                    <div class="icon-utente">
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-paperclip"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- main creazione messaggi dinamicamente -->
                <div class="message-chat">
                    <div class="chat" v-for="(message, index) in contacts[currentIndex].messages" :class="message.status">
                        <p>{{message.text}}
                            <i class="fa-solid fa-angle-down"></i>
                        </p>
                        <p class="date-message">{{message.date}}</p>
                    </div>
                </div>
               

                <!-- input tastiera messaggi -->
                <div class="message-user">
                    <div class="emoji">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="text-input">
                        <input type="text" @keyup.enter="sentMessage" v-model.trim="newMessage" placeholder="Scrivi un messaggio">
                    </div>
                    <div class="registra">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>

            
        </div>
    </div>





    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>

    <script type="text/javascript" src="main.js"></script>
</body>

</html>