*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:lightgrey ;
    font-family: sans-serif;
}

.container-body{
    height: 150px;
    background-color: green;
    position: absolute;
    width: 100%;
    top: 0;
}

/* regole container principale */
.container{
    max-width: 1200px;
    display: flex;
    height: 90vh;
    margin: 20px auto;
    position: relative;
    background-image: url('img/mine.jpg');
}

/* regole Aside */
aside{
    width: 500px;
    border-right: 3px solid #000;
    height: 100%;
    background-color: ghostwhite;
}

/* regole info utente */
.info-utente{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 80px;
    width: 100%;
    background-color: rgb(233, 231, 231);
}

/* regola generale per le img */
img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* regole name-utente */
.name-utente{
    display: flex;
    align-items: center;
}

/* regole icon-utente */
.icon-utente ul{
    list-style-type: none;
    display: flex;
}

.icon-utente ul li{
    margin: 0 10px;
}

.icon-utente ul li a{
    color: gray;
    font-size: 20px;
}

/* regole norifiche main */
.notifiche{
    display: flex;
    background-color: rgb(29, 230, 230);
    padding: 20px;
}

.notifiche i{
    background-color: #fff;
    color:  rgb(29, 230, 230);
    padding: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.notifiche p{
    font-weight: bold;
}

.notifiche a{
    color: grey;
}

/* regole search input */
.search-input{
    display: flex;
    align-items: center;
}

.search-input input{
    width: 100%;
    padding: 10px 27px;
    margin: 5px;
}

.search-input i{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 5px;
    color: grey;
    position: absolute;
    margin-left: 7px;
}

/* regole contatti */
.contatti-chat{
    width: 90%;
    display: flex;
    font-weight: bold;
    padding: 8px 5px;
    border-bottom: 1px solid gray;
}

.contatti-chat p{
    margin-left: 20px;
}

.contact-text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-message{
    font-size: 0.9rem;
    color: grey;
    font-weight: 100;
    margin-top: 5px;
}

.contact-date{
    color: grey;
    font-size: 0.7rem;
}

/* regole container-chat */
.container-chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* regole accesso utente */
.name-utente-accesso{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/* regole per aggiungere margine dalla barra contatto al primo messaggio */
.container-chat .info-utente{
    margin-bottom: 50px;
}

/* regole message */
.message{
    display: flex;
    padding: 10px;
}

.message-chat{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 50px;
}





/* regole per message user input */
footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(184, 179, 179);
    width: 100%;
}

.message-user{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-input{
    width: 100%;
    padding: 10px;
}

.text-input input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.message-user .emoji{
    padding: 0 20px;
}

.message-user .registra{
    padding: 0 20px;
}